.logout-button {
    margin-right: 15px;
    display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.logout {
    appearance: none;
	border: none;
	outline: none;
	border-radius: 3px;
	background: none;
	background-color: #6c429c;
	color: #FFF;
	padding: 10px 30px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}