<div class="container">

    <div>
  
      <div>
        <div>
          <h2>User Login</h2>
        </div>
  
        <div>
          <form [formGroup]="form" (ngSubmit)="login()">
  
            <div>
              <input type="text"  placeholder="Email" formControlName="email" class="login-input" required/>
            </div>
  
            <div>
              <input type="password" placeholder="Password" formControlName="password" class="login-input"  required/>
            </div>
  

 
            <div class="login-button">
              <button class="login" type="submit">Login</button>
            </div>
  
          </form>
        </div>
  
      </div>
    </div>
  </div>